<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
      <httpRuntime maxRequestLength="20480" />
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520">
          
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
